<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Library</title>
    <link rel="stylesheet" href="/../css/common.css" type="text/css">
  </head>
  <body>
    <nav class="navigation"> 
      <button>Home</button>
      <button onClick="changeScreen('library')">Game Library</button>
    </nav>
    <main>
      <br><br>
      <h1 class="title">Home</h1>
      <section>
        <h2>Introduction</h2>
        <p>This website contains a variety of different games. It contains a couple of games already but as time passes more and more will be added. All the games will be made with Unity Engine and you will be able to download them in order to play them.</p>
      </section>
      <br>
      <section>
        <h2>Tools used</h2>
        <p>This website was made with EJS instead of HTML, CSS for the styling and Javascript for both frontend interactability and backend by utilising Node.js.</p>
        <p>The games were all made with Unity Engine and their programs were written in C#.</p>
      </section>
      <br>
      <section>
        <h2>Assets</h2>
        <p>The assets used for these games were taken from a variety of different sources. Those are the following:</p>
        <!--Complete later-->
        <ul>
          <li>Asset number one</li>
          <li>Asset number two</li>
          <li>Asset number three</li>
        </ul>
      </section>
    </main>
    
    <footer>Library of Games, source code on <a target="_blank" href="https://github.com/Epic-legend128/Game-Library">github repository</a></footer>

    <script src="/../js/script.js"></script>
  </body>
</html>