<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Library</title>
    <link rel="stylesheet" href="/../css/common.css" type="text/css">
  </head>
  <body>
    <nav class="navigation"> 
      <button>Home</button>
      <button onClick="changeScreen('library')">Game Library</button>
      <% if (isLoggedIn) { %>
        <script>
          document.getElementsByClassName("navigation")[0].style.gridTemplateColumns = "1fr 1fr 1fr 1fr";
        </script>
        <button onClick="changeScreen('signout')">Sign out</button>
        <button onClick="changeScreen('delete')">Delete Account</button>
      <% } else { %>
        <button onClick="changeScreen('signin')">Sign in</button>
      <% } %>
    </nav>
    <main>
      <br><br>
      <h1 class="title">Home</h1>
      <section>
        <h2>Introduction</h2>
        <p>This website contains a variety of different games. It contains a couple of games already but as time passes more and more will be added. All the games will be made with Unity Engine and you will be able to download them in order to play them. The files are dmg and you will need to open them appropriately to use them.</p>
      </section>
      <br>
      <section>
        <h2>Tools used</h2>
        <p>This website was made with EJS instead of HTML, CSS for the styling and Javascript for both frontend interactability and backend by utilising Node.js. Furthermore, MongoDB was used when it came to picking an appropriate database.</p>
        <p>The games were all made with Unity Engine and their programs were written in C#.</p>
      </section>
      <br>
      <section>
        <h2>Assets</h2>
        <p>The assets used for these games were taken from a variety of different sources. Those are the following:</p>
        <h3>Images and Characters</h3>
        <ol>
          <li>SnoopethDuckDuck. “Swords and Staffs.” Itch.Io, snoopethduckduck.itch.io/swords/download/eyJpZCI6OTUyMTA0LCJleHBpcmVzIjoxNzA0MzE3NDgxfQ%3d%3d.qRrGfxoidrkWhb9Sj4jXkJ3dIn8%3d. Accessed 29 Jan. 2024. </li>
          <li>DK_Happy. “Kunai Minato.” Itch.Io, dk-happy.itch.io/kunai-minato. Accessed 29 Jan. 2024. </li>
          <li>Admurin. “FREE: Chest Animations.” Itch.Io, admurin.itch.io/free-chest-animations. Accessed 29 Jan. 2024. </li>
          <li>Cainos. “Pixel Art Top Down.” Itch.Io, cainos.itch.io/pixel-art-top-down-basic. Accessed 29 Jan. 2024. </li>
          <li>Clear_code, Clear_code. “Snake Game Assets.” OpenGameArt.Org, OpenGameArt.org, 27 Oct. 2020, opengameart.org/content/snake-game-assets. </li>
          <li>samuelcust. “Flappy Bird Assets.” GitHub, 8 June 2019, github.com/samuelcust/flappy-bird-assets/tree/master/sprites. </li>
          <li>JohnPablok. “Chess Pieces and Board Squares.” OpenGameArt.Org, OpenGameArt.org, 22 May 2018, opengameart.org/content/chess-pieces-and-board-squares. </li>
          <li>“Free Shinobi Sprites Pixel Art Download.” CraftPix.Net, 12 Oct. 2023, craftpix.net/freebies/free-shinobi-sprites-pixel-art/. </li>
          <li>“Free Fantasy Enemies Pixel Art Sprite Pack.” CraftPix.Net, 2 Dec. 2023, craftpix.net/freebies/free-fantasy-enemies-pixel-art-sprite-pack/. </li>
        </ol>
        <h3>Sounds</h3>
        <ol>
          <li>Pixabay. “Short Success Sound Glockenspiel Treasure Video Game.” Pixabay, 5 Aug. 2021, pixabay.com/sound-effects/short-success-sound-glockenspiel-treasure-video-game-6346/. </li>
          <li>Pixabay. “Coin_C_02.” Pixabay, 5 Sept. 2022, pixabay.com/sound-effects/coin-c-02-102844/. </li>
          <li>Pixabay. “Step Skeleton.” Pixabay, 21 June 2022, pixabay.com/sound-effects/step-skeleton-47785/. </li>
          <li>Pixabay. “Ough!” Pixabay, 21 June 2022, pixabay.com/sound-effects/ough-47202/. </li>
          <li>GregorQuendel. “Fire Sound Effect - Designed Fire - Short Swoosh.” Pixabay, 21 Sept. 2022, pixabay.com/sound-effects/fire-sound-effect-designed-fire-short-swoosh-120589/. </li>
          <li>Pixabay. “Clean Fast Swoosh.Aiff.” Pixabay, 27 Jan. 2022, pixabay.com/sound-effects/clean-fast-swooshaiff-14784/. </li>
          <li>Pixabay. “Explode3.” Pixabay, 17 Aug. 2022, pixabay.com/sound-effects/explode3-87806/. </li>
          <li>Pixabay. “Explosion.” Pixabay, 5 Aug. 2021, pixabay.com/sound-effects/explosion-6055/. </li>
          <li>floraphonic. “Fireball Whoosh 2.” Pixabay, 4 Dec. 2023, pixabay.com/sound-effects/fireball-whoosh-2-179126/. </li>
          <li>Pixabay. “Eating Sound Effect.” Pixabay, 6 June 2022, pixabay.com/sound-effects/eating-sound-effect-36186/. </li>
          <li>Pixabay. “Woosh 2.” Pixabay, 5 Aug. 2021, pixabay.com/sound-effects/woosh-2-6471/. </li>
          <li>Pixabay. “Negative_beeps.” Pixabay, 5 Aug. 2021, pixabay.com/sound-effects/negative-beeps-6008/. </li>
          <li>Pixabay. “Pigeons Flying.” Pixabay, 5 Aug. 2021, pixabay.com/sound-effects/pigeons-flying-6351/. </li>
          <li>Pixabay. “Slice Apple on Wood_fizz.” Pixabay, 15 Aug. 2022, pixabay.com/sound-effects/slice-apple-on-wood-fizz-85879/. </li>
          <li>Pixabay. “Success Fanfare Trumpets.” Pixabay, 5 Aug. 2021, pixabay.com/sound-effects/success-fanfare-trumpets-6185/. </li>
        </ol>
      </section>
    </main>
    
    <footer>Library of Games, source code on <a target="_blank" href="https://github.com/Epic-legend128/Game-Library">github repository</a></footer>

    <script src="/../js/script.js"></script>
  </body>
</html>