<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Library</title>
    <link rel="stylesheet" href="/../css/common.css" type="text/css">
  </head>
  <body>
    <nav class="navigation"> 
      <button onClick="changeScreen('home')">Home</button>
      <button>Game Library</button>
    </nav>
    <main>
        <br><br>
        <header>
          <h1 class="title">Game Library</h1>
        </header>
        <p style="text-align: center;">Browse through all of the games we provide.</p>
        <div id="content">
          <aside>
            <h2>Search and filter</h2>
            <input type="text" id="browse-input" placeholder="Search...">
            <div id="search-tags">

            </div>
            <button onClick="submitSearch()">Submit</button>
          </aside>
          <div id="game-info">
              
          </div>
        </div>
    </main>
    <footer>Library of Games, source code on <a target="_blank" href="https://github.com/Epic-legend128/Game-Library">github repository</a></footer>
    <script src="/../js/script.js"></script>
    <script src="/../js/games.js"></script>
  </body>
</html>